<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.gark.vk"
          android:versionCode="18"
          android:versionName="1.17">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-sdk
            android:minSdkVersion="9"
            android:targetSdkVersion="18"/>

    <application
            android:allowBackup="true"
            android:icon="@drawable/yellow_headphones_1"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light">

        <activity
                android:name=".ui.MainActivity1"
                android:label="@string/app_name"
                android:windowSoftInputMode="adjustResize|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


        <activity android:name=".ui.LoginActivity"/>


        <activity
                android:name="com.google.ads.AdActivity"
                android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>

        <!-- Network Service -->
        <service android:name="com.the111min.android.api.RequestService"/>
        <service android:name=".services.DownloadService" />

        <provider
                android:name=".db.VKProvider"
                android:authorities="com.gark.vk"
                android:exported="false"/>

        <service android:name=".services.PlaybackService"/>

        <receiver android:name=".receiver.DownloaderReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>